<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.knime.org/2008/09/XMLConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.knime.org/2008/09/XMLConfig http://www.knime.org/XMLConfig_2008_09.xsd" key="settings.xml">
<entry key="node_file" type="xstring" value="settings.xml"/>
<config key="flow_stack"/>
<config key="internal_node_subsettings">
<entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
</config>
<config key="model">
<entry key="statement" type="xstring" value="SELECT%%00010md.chembl_id as compound_id,%%00010ass.chembl_id as assay_id,%%00010md.molregno as compound_molregno,%%00010td.pref_name,%%00010ass.assay_organism,%%00010td.organism as td_organism,%%00010ass.relationship_type,%%00010act.standard_relation,%%00010act.standard_value,%%00010act.standard_units,%%00010act.standard_type,%%00010act.activity_comment,%%00010act.doc_id,%%00010td.tid,%%00010tt.parent_type,%%00010tt.target_type,%%00010ass.confidence_score,%%00010cs.canonical_smiles as smiles%%00010FROM target_dictionary td%%00010JOIN target_type tt ON tt.target_type = td.target_type%%00010JOIN assays ass ON td.tid = ass.tid%%00010JOIN activities act ON ass.assay_id = act.assay_id%%00010JOIN molecule_dictionary md ON act.molregno = md.molregno%%00010JOIN compound_structures cs ON md.molregno = cs.molregno%%00010WHERE td.organism = 'Homo sapiens' AND ass.relationship_type = 'D'"/>
<entry key="execute_without_configure" type="xboolean" value="true"/>
<entry key="driver" type="xstring" value="com.mysql.jdbc.Driver"/>
<entry key="database" type="xstring" value="jdbc:mysql://129.108.3.163/chembl25"/>
<entry key="user" type="xstring" value="[Workflows edited with 3.4.1, will not work in older versions]"/>
<entry key="userName" type="xstring" value="tcrd"/>
<entry key="passwordEncrypted" type="xpassword" value="0157D8A8968572F23C469B096E5BBAF2DD"/>
<entry key="password" type="xstring" isnull="true" value=""/>
<entry key="timezone" type="xstring" value="current"/>
<entry key="validateConnection" type="xboolean" value="false"/>
<entry key="retrieveMetadataInConfigure" type="xboolean" value="false"/>
<entry key="allowSpacesInColumnNames" type="xboolean" value="true"/>
<entry key="rowIdsStartWithZero" type="xboolean" value="false"/>
<entry key="databaseIdentifier" type="xstring" isnull="true" value=""/>
<entry key="kerberos" type="xboolean" value="false"/>
<entry key="knimeVersion" type="xstring" value="4.0.1"/>
</config>
<config key="nodeAnnotation">
<entry key="text" type="xstring" value="get_homoSapien_and_all_cyp"/>
<entry key="bgcolor" type="xint" value="16777215"/>
<entry key="x-coordinate" type="xint" value="463"/>
<entry key="y-coordinate" type="xint" value="659"/>
<entry key="width" type="xint" value="154"/>
<entry key="height" type="xint" value="13"/>
<entry key="alignment" type="xstring" value="CENTER"/>
<entry key="borderSize" type="xint" value="0"/>
<entry key="borderColor" type="xint" value="16777215"/>
<entry key="defFontSize" type="xint" value="11"/>
<entry key="annotation-version" type="xint" value="20151123"/>
<config key="styles"/>
</config>
<entry key="customDescription" type="xstring" isnull="true" value=""/>
<entry key="state" type="xstring" value="CONFIGURED"/>
<config key="nodecontainer_message">
<entry key="type" type="xstring" value="WARNING"/>
<entry key="message" type="xstring" value="Execution canceled"/>
</config>
<entry key="factory" type="xstring" value="org.knime.base.node.io.database.DBReaderNodeFactory"/>
<entry key="node-name" type="xstring" value="Database Reader (legacy)"/>
<entry key="node-bundle-name" type="xstring" value="KNIME Base Nodes"/>
<entry key="node-bundle-symbolic-name" type="xstring" value="org.knime.base"/>
<entry key="node-bundle-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
<entry key="node-bundle-version" type="xstring" value="4.0.1.v201908131444"/>
<entry key="node-feature-name" type="xstring" value="KNIME Core"/>
<entry key="node-feature-symbolic-name" type="xstring" value="org.knime.features.base.feature.group"/>
<entry key="node-feature-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
<entry key="node-feature-version" type="xstring" value="4.0.1.v201908131444"/>
<config key="factory_settings"/>
<entry key="name" type="xstring" value="Database Reader (legacy)"/>
<entry key="hasContent" type="xboolean" value="false"/>
<entry key="isInactive" type="xboolean" value="false"/>
<config key="ports">
<config key="port_1">
<entry key="index" type="xint" value="1"/>
<entry key="port_dir_location" type="xstring" isnull="true" value=""/>
</config>
</config>
<config key="filestores">
<entry key="file_store_location" type="xstring" isnull="true" value=""/>
<entry key="file_store_id" type="xstring" isnull="true" value=""/>
</config>
</config>
