<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.knime.org/2008/09/XMLConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.knime.org/2008/09/XMLConfig http://www.knime.org/XMLConfig_2008_09.xsd" key="settings.xml">
<entry key="node_file" type="xstring" value="settings.xml"/>
<config key="flow_stack">
<config key="Loop_0">
<entry key="type" type="xstring" value="loopcontext"/>
</config>
<config key="Variable_1">
<entry key="type" type="xstring" value="variable"/>
<entry key="name" type="xstring" value="Min no of records"/>
<entry key="class" type="xstring" value="INTEGER"/>
<entry key="value" type="xint" value="19"/>
</config>
<config key="Variable_2">
<entry key="type" type="xstring" value="variable"/>
<entry key="name" type="xstring" value="iteration"/>
<entry key="class" type="xstring" value="INTEGER"/>
<entry key="value" type="xint" value="0"/>
</config>
<config key="Loop_Execute_3">
<entry key="type" type="xstring" value="loopcontext_execute"/>
</config>
<config key="Variable_4">
<entry key="type" type="xstring" value="variable"/>
<entry key="name" type="xstring" value="Min no of records"/>
<entry key="class" type="xstring" value="INTEGER"/>
<entry key="value" type="xint" value="19"/>
</config>
<config key="Variable_5">
<entry key="type" type="xstring" value="variable"/>
<entry key="name" type="xstring" value="iteration"/>
<entry key="class" type="xstring" value="INTEGER"/>
<entry key="value" type="xint" value="0"/>
</config>
</config>
<config key="internal_node_subsettings">
<entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
</config>
<config key="model">
<entry key="parameters" type="xint" value="1"/>
<config key="parameter_0">
<entry key="name" type="xstring" value="Min no of records"/>
<entry key="from" type="xdouble" value="19.0"/>
<entry key="to" type="xdouble" value="20.0"/>
<entry key="step" type="xdouble" value="1.0"/>
<entry key="integer" type="xboolean" value="true"/>
</config>
<entry key="method" type="xstring" value="BruteForce"/>
<entry key="useSeed" type="xboolean" value="false"/>
<entry key="seed" type="xlong" value="1565806096940"/>
<entry key="numTrials" type="xint" value="100"/>
<entry key="useEarlyStopping" type="xboolean" value="true"/>
<entry key="sizeMovingWindow" type="xint" value="5"/>
<entry key="tolerance" type="xdouble" value="0.01"/>
<entry key="enableStepSize" type="xboolean" value="false"/>
<entry key="gamma" type="xdouble" value="0.25"/>
<entry key="warmupRounds" type="xint" value="20"/>
<entry key="numCandidatesPerRound" type="xint" value="25"/>
</config>
<entry key="customDescription" type="xstring" isnull="true" value=""/>
<entry key="state" type="xstring" value="EXECUTED"/>
<entry key="factory" type="xstring" value="org.knime.optimization.internal.node.parameter.loopstart.LoopStartParOptNodeFactory"/>
<entry key="node-name" type="xstring" value="Parameter Optimization Loop Start"/>
<entry key="node-bundle-name" type="xstring" value="KNIME Optimization extension"/>
<entry key="node-bundle-symbolic-name" type="xstring" value="org.knime.optimization"/>
<entry key="node-bundle-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
<entry key="node-bundle-version" type="xstring" value="4.0.0.v201906121519"/>
<entry key="node-feature-name" type="xstring" value="KNIME Optimization extension"/>
<entry key="node-feature-symbolic-name" type="xstring" value="org.knime.features.optimization.feature.group"/>
<entry key="node-feature-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
<entry key="node-feature-version" type="xstring" value="4.0.0.v201906121519"/>
<config key="factory_settings"/>
<entry key="name" type="xstring" value="Parameter Optimization Loop Start"/>
<entry key="hasContent" type="xboolean" value="true"/>
<entry key="isInactive" type="xboolean" value="false"/>
<config key="ports">
<config key="port_1">
<entry key="index" type="xint" value="1"/>
<entry key="port_spec_class" type="xstring" value="org.knime.core.node.port.flowvariable.FlowVariablePortObjectSpec"/>
<entry key="port_object_class" type="xstring" value="org.knime.core.node.port.flowvariable.FlowVariablePortObject"/>
<entry key="port_object_summary" type="xstring" value="Variables connection"/>
<entry key="port_spec_location" type="xstring" value="spec/spec.zip"/>
<entry key="port_object_location" type="xstring" value="object/portobject.zip"/>
<entry key="port_dir_location" type="xstring" value="port_1"/>
</config>
</config>
<config key="filestores">
<entry key="file_store_location" type="xstring" isnull="true" value=""/>
<entry key="file_store_id" type="xstring" value="c4e8546c-f62a-4d13-95f6-9b55a2a819ee"/>
</config>
</config>
